body {
  background-color: rgb(235, 235, 235);
  font-family: 'Open Sans', sans-serif;
  color: rgb(80, 80, 80);
  font-size: 1em;
  line-height: 1.25em;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(40, 40, 40);
}

h1 {
  color: #0084B4;
  font-size: 1.5em;
  line-height: 1.75em;
}

h2 {
  font-size: 1em;
  line-height: 1.25em;
}

h3 {
  font-size: 1em;
  line-height: 1.25em;
}

a {
  color: #0084B4;

}
a:hover {
  color: #DF6363;
}

td {
  padding: 10px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  background-color: rgba(0, 132, 180, 0.8);
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.card {
  background-color: rgb(250, 250, 250);
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.img-w150 {
  width: 150px;
  height: auto;
}

.img-circle {
  border-radius: 50%;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.img-circle:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
}

.text-center {
  text-align: center;
}

.img_h200 {
  height: 200px;
  width: auto;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  margin: 0 auto;
}

.list-inline {
  padding-left: 0px;
}

.social-size > li {
  font-size: 3em;
}

.big {
  font-weight: bold;
  color: rgb(100, 100, 100);
}

.clear {
  clear: both;
}

#wrapper {
  position: relative;
}
#left {
  width: 360px;
  float: left;
}

#right {
  width: 538px;
  float: right;
}

#footer {
  position: relative;
}

#cheers {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
